<h3>Inventory</h3>

<ul>
  {{#each model.items as |inventory|}}
  <li>
    {{inventory.productid.0.product_name_or_identifier}}
    (qty: {{inventory.quantity}})
    {{#if (lte inventory.quantity inventory.restock_at)}}
      <strong>Needs Restocking!!</strong>
    {{/if}}
  </li>
  {{/each}}
</ul>